@layer reset, base, tokens, recipes, utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    font-family: 'Playfair Display', serif;
}
img.lg-object {
    width: 30vw;
    object-fit: contain;
}
img.lg-image {
    width: 30vw;
    object-fit: contain;
}
.lg-react-element  {
    display: grid;
    grid-gap: 20px;
}
@media (max-width: 568px) {
    .lg-react-element  {
        grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    }
}
@media (min-width: 569px) {
    .lg-react-element  {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}